@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var state = "Kla";
}


<a id="facebook-button" class="btn btn-social btn-facebook" style="color:white" href="@Model.facebook.LoginPageUrl">
    <i class="fa fa-facebook-f"></i> Sign in with Facebook
</a>
<p></p>
<div class="g-signin2"> <a class="btn btn-lg btn-google btn-outline" href="#" style="background-color:white; color:black"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup with Google</a> </div>
<p></p>
<div> <a class="btn btn-lg" href="#" style="background-color:white; color:black; border:solid 1px"><img style="position:center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/25px-Microsoft_logo.svg.png"> Sign in with Microsoft</a> </div>
<p></p>
<a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"><i class="fa fa-twitter me-2"></i>Sign in with Twitter</a>

